* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(ellipse at bottom, #27303a 10%, #090a0f 80%);
    height: 100dvh;
    width: 100dvw;
}

div {
    position: absolute;
}

.sun {
    width: 20vw;
    height: 20vw;
    border-radius: 0%;
}

.sun > div {
    border-radius: 50%;
}

.sun__chromosphere {
    width: 40vw;
    height: 40vw;
    transform: translate(-50%, -50%);
}

.sun--orange {
    background-color: #ffaa0e;
}

.sun--orange-shadow {
    box-shadow: inset 0 0 150px rgba(255, 42, 14, 0.801);
}

.sun__corona {
    width: 40vw;
    height: 40vw;
    transform: translate(-50%, -50%);
    box-shadow: 0 5rem 9rem #ff4b02
}

.sun__layer-1 {
    width: 43vw;
    height: 43vw;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 150px rgba(255, 42, 14, 0.801);
}

.sun__layer-2 {
    width: 46vw;
    height: 46vw;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 50px rgba(252, 73, 19, 0.801);
}

.sun__layer-3 {
    width: 40vw;
    height: 40vw;
    box-shadow: inset 0 0px 85px rgba(238, 119, 113, 0.801);
    transform: translate(-50%, -50%);;
}

.sun__flare-1--layer-1 {
    width: 6vw;
    height: 6vw;
    transform: translate(17%, 65%);
    box-shadow: inset 0 0 25px rgba(255, 211, 29, 0.81);
}

.sun__flare-1--layer-2 {
    width: 3vw;
    height: 3vw;
    transform: translate(85%, 180%);
    box-shadow: inset 0 0 25px rgba(236, 226, 184, 0.801);
}

.sun__flare-1--layer-3 {
    width: 2vw;
    height: 2vw;
    background: #fff995;
    transform: translate(155%, 295%);
}

.sun__flare-2--layer-1 {
    width: 4vw;
    height: 4vw;
    transform: translate(280%, 15%);
    box-shadow: inset 0 0 25px rgba(255, 211, 29, 0.81);
}

.sun__flare-2--layer-2 {
    width: 2vw;
    height: 2vw;
    transform: translate(615%, 80%);
    box-shadow: inset 0 0 25px rgba(236, 226, 184, 0.801);
}

.sun__flare-2--layer-3 {
    width: 1vw;
    height: 1vw;
    background: #fff995;
    transform: translate(1280%, 210%);
}

.sun__spot-1 {
    width: 0.5vw;
    height: 0.5vw;
    background: #fc7b0f;
    transform: translate(1280%, 210%);
}

.sun__spot-2 {
    width: 1vw;
    height: 1vw;
    background: #fc7b0f;
    transform: translate(900%, 210%);
}

.sun__spot-3 {
    width: 2vw;
    height: 2vw;
    background: #fc7b0f;
    transform: translate(300%, 490%);
}

.jupiter {
    position: absolute;
    width: 45%;
    height: 57%;
    top: 40%;
    left: 10%;
}

.jupiter > div {
    border-radius: 50%;
}

.jupiter__atmosphere {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%) rotate(-85deg);
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    background: rgb(22,19,77);
    background: linear-gradient(90deg, rgba(255,218,83,1) 0%, rgba(230,170,95,1) 6%, rgba(191,121,63,1) 12%, rgba(181,155,87,1) 18%, rgba(180,125,70,1) 23%, rgba(190,162,58,1) 35%, rgba(175,110,45,1) 43%, rgba(143,113,69,1) 52%, rgba(171,163,51,1) 59%, rgba(212,176,134,1) 67%, rgba(190,146,80,1) 74%, rgba(171,131,62,1) 81%, rgba(195,161,86,1) 88%, rgba(198,170,89,1) 93%, rgba(255,218,83,1) 100%);
    box-shadow: inset 0 0 40px rgba(45, 122, 122, 0.801);
}

.jupiter__moon {
    height: 2vw;
    width: 2vw;
    background-color: #fff;
    position: relative;
    transform: translate(200%, 500%);
    animation: axis 15s infinite ease-in-out;
    z-index: 1;
}

@keyframes axis {
    49% {
        z-index: 1;
    }
    50% {
        transform: translate(1900%, 730%);
        z-index: -1;
    }
    99% {
        z-index: -1;
    }
    100% {
        transform: translate(200%, 500%);
        z-index: 1;
    }
}

.saturn {
    position: fixed;
    width: 40%;
    height: 53%;
    top: 5%;
    left: 60%;
    border-radius: 0%;
    transform-style: preserve-3d;
}

.saturn > div, .saturn__ring > div {
    border-radius: 50%;
    position: absolute;
}

.saturn__atmosphere {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: rgb(22,19,77);
    background: linear-gradient(-20deg, rgba(22,19,77,1) 0%, rgba(191,80,168,1) 48%, rgba(0,212,255,1) 100%);
}

.saturn__ring {
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    border: 3px solid #ffd0e2;
    border-right: 3px solid transparent;
    animation: rotateRing 5s linear infinite;
}

@keyframes rotateRing {
    0% {
        transform: rotateX(-110deg) rotateY(20deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(-110deg) rotateY(20deg) rotateZ(360deg);
    }
}

.saturn__ring-1 {
    border: 3px solid #ffd0e2;
    border-top: 3px solid transparent;
    opacity: 0.6;
    left: -5px;
    top: -5px;
    width: 310px;
    height: 310px;
}

.saturn__ring-2 {
    border: 3px solid #ffd0e2;
    border-left: 3px solid transparent;
    opacity: 0.6;
    left: -10px;
    top: -10px;
    width: 320px;
    height: 320px;
}

.saturn__ring-3 {
    border: 3px solid #ffd0e2;
    border-bottom: 3px solid transparent;
    opacity: 0.7;
    left: -15px;
    top: -15px;
    width: 330px;
    height: 330px;
}

.saturn__ring-4 {
    border: 3px solid #ffd0e2;
    border-right: 3px solid transparent;
    opacity: 0.6;
    left: -20px;
    top: -20px;
    width: 340px;
    height: 340px;
}

.saturn__ring-5 {
    border: 3px solid #ffd0e2;
    border-top: 3px solid transparent;
    opacity: 0.7;
    left: -25px;
    top: -25px;
    width: 350px;
    height: 350px;
}

.saturn__ring-6 {
    border: 3px solid #ffd0e2;
    border-left: 3px solid transparent;
    opacity: 0.6;
    left: -30px;
    top: -30px;
    width: 360px;
    height: 360px;
}

.saturn__ring-7 {
    border: 3px solid #ffd0e2;
    border-bottom: 3px solid transparent;
    opacity: 0.6;
    left: -35px;
    top: -35px;
    width: 370px;
    height: 370px;
}

.saturn__ring-8 {
    border: 3px solid #ffd0e2;
    border-right: 3px solid transparent;
    opacity: 0.8;
    left: -40px;
    top: -40px;
    width: 380px;
    height: 380px;
}

.saturn__ring-9 {
    border: 3px solid #ffd0e2;
    border-top: 3px solid transparent;
    opacity: 0.5;
    left: -63px;
    top: -63px;
    width: 426px;
    height: 426px;
}

.saturn__ring-10 {
    border: 3px solid #ffd0e2;
    border-right: 3px solid transparent;
    opacity: 0.6;
    left: -70px;
    top: -70px;
    width: 440px;
    height: 440px;
}

.saturn__ring-11 {
    border: 3px solid #ffd0e2;
    border-left: 3px solid transparent;
    opacity: 0.6;
    left: -77px;
    top: -77px;
    width: 454px;
    height: 454px;
}

.saturn__ring-12 {
    border: 3px solid #ffd0e2;
    border-bottom: 3px solid transparent;
    opacity: 0.7;
    left: -84px;
    top: -84px;
    width: 468px;
    height: 468px;
}

.saturn__ring-13 {
    border: 3px solid #ffd0e2;
    border-left: 3px solid transparent;
    opacity: 0.7;
    left: -91px;
    top: -91px;
    width: 482px;
    height: 482px;
}

.saturn__ring-14 {
    border: 3px solid #ffd0e2;
    border-top: 3px solid transparent;
    opacity: 0.7;
    left: -98px;
    top: -98px;
    width: 496px;
    height: 496px;
}

.stars {
    width: 3px;
    height: 3px;
    background: transparent;
    z-index: -1;
    animation: moveStars 100s linear infinite;
}

@keyframes moveStars {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.5);
    }
}

.asteroid {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.541), 0 0 20px rgba(255, 255, 255, 0.685);
    animation: asteroid 15s linear infinite;
}

.asteroid::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 150px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes asteroid {
    0% {
        transform: rotate(215deg) translateX(500px);
    }
    100% {
        transform: rotate(215deg) translateX(-1000px);
    }
}

.asteroids > div {
    position: fixed;
    top: 80%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.541), 0 0 20px rgba(255, 255, 255, 0.685);
    animation: asteroid 5s linear infinite;
}

.asteroids > div::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 150px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

.asteroids > div:nth-child(1) {
    top: 0;
    right: 80px;
    animation-delay: -0.5s;
    animation-duration: 3s;
}

.asteroids > div:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: -0.5s;
    animation-duration: 4s;
}

.asteroids > div:nth-child(3) {
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.5s;
    animation-duration: 2s;
}

.asteroids > div:nth-child(4) {
    top: 0px;
    right: 180px;
    left: initial;
    animation-delay: 0.7s;
    animation-duration: 2s;
}

.asteroids > div:nth-child(5) {
    top: 600px;
    right: 80px;
    animation-delay: 0.7s;
    animation-duration: 2s;
}

.asteroids > div:nth-child(6) {
    top: 700px;
    right: 80px;
    animation-delay: 0.5s;
    animation-duration: 3s;
}

.asteroids > div:nth-child(7) {
    top: 850px;
    right: 80px;
    animation-delay: 0.5s;
    animation-duration: 4s;
}

.asteroids {
    display: none;
}

body:has(.asteroid:active) > .asteroids {
    display: block;
}

.uranus {
    position: fixed;
    width: 30%;
    height: 27%;
    top: 67%;
    left: 67%;
    border-radius: 0%;
    transform-style: preserve-3d;
}

.uranus__atmosphere {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: rgb(74,145,235);
    background: linear-gradient(185deg, rgba(74,145,235,1) 0%, rgba(176,167,219,1) 20%, rgba(93,135,213,1) 25%, rgba(164,171,235,1) 31%, rgba(154,170,221,1) 40%, rgba(93,163,205,1) 49%, rgba(70,143,176,1) 64%, rgba(77,110,200,1) 73%, rgba(79,112,208,1) 76%, rgba(83,164,224,1) 86%, rgba(119,189,249,1) 100%);
}

.uranus > div, .uranus__ring > div {
    border-radius: 50%;
}

.uranus__ring {
    top: -35px;
    left: -10px;
    right: 0px;
    margin: auto;
    width: 250px;
    height: 250px;
    border: 3px solid #fff;
    border-right: 3px solid transparent;
    animation: rotateUranusRing 5s linear infinite;
}

.uranus__ring-1 {
    border: 3px solid #fff;
    border-top: 3px solid transparent;
    opacity: 0.6;
    left: -5px;
    top: -5px;
    width: 255px;
    height: 255px;
}

.uranus__ring-2 {
    border: 3px solid #fff;
    border-left: 3px solid transparent;
    opacity: 0.6;
    left: -10px;
    top: -10px;
    width: 265px;
    height: 265px;
}

.uranus__ring-3 {
    border: 3px solid #fff;
    border-bottom: 3px solid transparent;
    opacity: 0.7;
    left: -15px;
    top: -15px;
    width: 275px;
    height: 275px;
}

.uranus__ring-4 {
    border: 3px solid #fff;
    border-right: 3px solid transparent;
    opacity: 0.6;
    left: -20px;
    top: -20px;
    width: 285px;
    height: 285px;
}

@keyframes rotateUranusRing {
    0% {
        transform: rotateX(-105deg) rotateY(-4deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(-105deg) rotateY(-4deg) rotateZ(360deg);
    }
}

.saturn__atmosphere {
    cursor: pointer;
}

.jupiter__atmosphere {
    cursor: pointer;
}

.uranus__atmosphere {
    cursor: pointer;
}

.asteroid {
    cursor: pointer;
}

body:has(.saturn__atmosphere:active) > .saturn > .saturn__ring {
    animation: rotateRing 1s linear infinite;
}

body:has(.uranus__atmosphere:active) > .uranus > .uranus__ring {
    animation: rotateUranusRing 1s linear infinite;
}

body:has(.jupiter__atmosphere:active) > .jupiter > .jupiter__moon {
    transform: scale(2);
    top: 37%;
    left: 10%;
    animation: axisScale 25s infinite ease-in-out;
}

@keyframes axisScale {
    49% {
        z-index: 1;
    }
    50% {
        transform: translate(1650%, 200%) scale(2);
        z-index: -1;
    }
    99% {
        z-index: -1;
    }
    100% {
        transform: translate(9%, 0%) scale(2);
        z-index: 1;
    }
}

.sun__flare-1--layer-1 {
    animation: flare-1 5s linear infinite;
}

.sun__flare-1--layer-2 {
    animation: flare-2 5s linear infinite;
    animation-delay: 4s;
}

.sun__flare-2--layer-1 {
    animation: flare-3 5s linear infinite;
    animation-delay: 2s;
}

.sun__flare-2--layer-2 {
    animation: flare-4 5s linear infinite;
}

@keyframes flare-1 {
    0% {
        transform: translate(17%, 65%) scale(1);
    }
    50% {
        transform: translate(17%, 65%) scale(1.5);
        opacity: 0;
    }
    100% {
        transform: translate(17%, 65%) scale(1);
    }
}

@keyframes flare-2 {
    0% {
        transform: translate(85%, 180%) scale(1);
    }
    50% {
        transform: translate(85%, 180%) scale(1.5);
        opacity: 0;
    }
    100% {
        transform: translate(85%, 180%) scale(1);
    }
}

@keyframes flare-3 {
    0% {
        transform: translate(280%, 15%) scale(1);
    }
    50% {
        transform: translate(280%, 15%) scale(1.5);
        opacity: 0;
    }
    100% {
        transform: translate(280%, 15%) scale(1);
    }
}

@keyframes flare-4 {
    0% {
        transform: translate(615%, 80%) scale(1);
    }
    50% {
        transform: translate(615%, 80%) scale(1.5);
        opacity: 0;
    }
    100% {
        transform: translate(615%, 80%) scale(1);
    }
}
