* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #020202;
    height: 100dvh;
    width: 100dvw;
}

div {
    position: absolute;
}

.sun {
    width: 20vw;
    height: 20vw;
    border-radius: 0%;
}

.sun > div {
    border-radius: 50%;
}

.sun__chromosphere {
    width: 40vw;
    height: 40vw;
    transform: translate(-50%, -50%);
}

.sun--orange {
    background-color: #ffaa0e;
}

.sun--orange-shadow {
    box-shadow: inset 0 0 150px rgba(255, 42, 14, 0.801);
}

.sun__corona {
    width: 40vw;
    height: 40vw;
    transform: translate(-50%, -50%);
    box-shadow: 0 5rem 9rem #ff4b02
}

.sun__layer-1 {
    width: 43vw;
    height: 43vw;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 150px rgba(255, 42, 14, 0.801);
}

.sun__layer-2 {
    width: 46vw;
    height: 46vw;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 50px rgba(252, 73, 19, 0.801);
}

.sun__layer-3 {
    width: 40vw;
    height: 40vw;
    box-shadow: inset 0 0px 85px rgba(238, 119, 113, 0.801);
    transform: translate(-50%, -50%);;
}

.sun__flare-1--layer-1 {
    width: 6vw;
    height: 6vw;
    transform: translate(17%, 65%);
    box-shadow: inset 0 0 25px rgba(255, 211, 29, 0.81);
}

.sun__flare-1--layer-2 {
    width: 3vw;
    height: 3vw;
    transform: translate(85%, 180%);
    box-shadow: inset 0 0 25px rgba(236, 226, 184, 0.801);
}

.sun__flare-1--layer-3 {
    width: 2vw;
    height: 2vw;
    background: #fff995;
    transform: translate(155%, 295%);
}

.sun__flare-2--layer-1 {
    width: 4vw;
    height: 4vw;
    transform: translate(280%, 15%);
    box-shadow: inset 0 0 25px rgba(255, 211, 29, 0.81);
}

.sun__flare-2--layer-2 {
    width: 2vw;
    height: 2vw;
    transform: translate(615%, 80%);
    box-shadow: inset 0 0 25px rgba(236, 226, 184, 0.801);
}

.sun__flare-2--layer-3 {
    width: 1vw;
    height: 1vw;
    background: #fff995;
    transform: translate(1280%, 210%);
}

.sun__spot-1 {
    width: 0.5vw;
    height: 0.5vw;
    background: #fc7b0f;
    transform: translate(1280%, 210%);
}

.sun__spot-2 {
    width: 1vw;
    height: 1vw;
    background: #fc7b0f;
    transform: translate(900%, 210%);
}

.sun__spot-3 {
    width: 2vw;
    height: 2vw;
    background: #fc7b0f;
    transform: translate(300%, 490%);
}

.jupiter {
    position: absolute;
    width: 45%;
    height: 57%;
    top: 40%;
    left: 10%;
    transform-style: preserve-3d;
}

.jupiter > div {
    border-radius: 50%;
    background-color: preserve-3d;
}

.jupiter__atmosphere {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%) rotate(-85deg);
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    background: rgb(22,19,77);
    background: linear-gradient(90deg, rgba(255,218,83,1) 0%, rgba(230,170,95,1) 6%, rgba(191,121,63,1) 12%, rgba(181,155,87,1) 18%, rgba(180,125,70,1) 23%, rgba(190,162,58,1) 35%, rgba(175,110,45,1) 43%, rgba(143,113,69,1) 52%, rgba(171,163,51,1) 59%, rgba(212,176,134,1) 67%, rgba(190,146,80,1) 74%, rgba(171,131,62,1) 81%, rgba(195,161,86,1) 88%, rgba(198,170,89,1) 93%, rgba(255,218,83,1) 100%);
    box-shadow: inset 0 0 40px rgba(45, 122, 122, 0.801);
}

.jupiter__moon {
    height: 2vw;
    width: 2vw;
    background-color: #fff;
    position: relative;
    transform: translate(200%, 500%);
    animation: axis 15s infinite ease-in-out;
    z-index: 1;
}

@keyframes axis {
    49% {
        z-index: 1;
    }
    50% {
        transform: translate(1900%, 730%);
        z-index: -1;
    }
    99% {
        z-index: -1;
    }
    100% {
        transform: translate(200%, 500%);
        z-index: 1;
    }
}
